dash~=3.4.0
plotly~=6.5
dash-mantine-components~=2.6
dash-iconify~=0.1
dash-ag-grid~=33.3
pandas~=2.2
numpy~=2.2
statsmodels~=0.14
gunicorn~=23.0
flask-compress~=1.24
geopy
openpyxl
httpx~=0.27
pyarrow>=17,<22
pyjwt[crypto]~=2.8
boto3~=1.35
psycopg2-binary~=2.9
